/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2014 (12.0.2000)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [CareerBrain]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[UID] [varchar](100) NOT NULL,
	[NAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMINPASSWORD]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINPASSWORD](
	[UID] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMINRECOMMENDATION]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINRECOMMENDATION](
	[UID] [varchar](100) NOT NULL,
	[COURSE] [varchar](50) NULL,
	[DOMAIN] [varchar](200) NULL,
	[PROBABILITY] [varchar](50) NULL,
	[SKILLSTATE] [varchar](50) NULL,
	[CENTER] [varchar](50) NULL,
	[BATCHSIZE] [varchar](50) NULL,
	[DURATION] [varchar](50) NULL,
	[REASON] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYMENT]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYMENT](
	[UID] [bigint] NOT NULL,
	[STATUS] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SKILLS]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKILLS](
	[SKILLID] [varchar](100) NOT NULL,
	[SKILLSTATE] [varchar](200) NULL,
	[SKILLCENTER] [varchar](200) NULL,
	[DOMAIN] [varchar](200) NULL,
	[COURSE] [varchar](200) NULL,
	[BATCHSIZE] [varchar](200) NULL,
	[SKILLDURATION] [varchar](200) NULL,
	[COURSEGRADE] [varchar](200) NULL,
	[UID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[SKILLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAINEE]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAINEE](
	[UID] [bigint] NOT NULL,
	[NAME] [varchar](50) NULL,
	[GENDER] [varchar](50) NULL,
	[RELIGION] [varchar](50) NULL,
	[CASTE] [varchar](20) NULL,
	[EDUCATION] [varchar](50) NULL,
	[PREVTECHEDUCATION] [varchar](50) NULL,
	[HOMESTATE] [varchar](20) NULL,
	[HOMEDISTRICT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAINEEPASSWORD]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAINEEPASSWORD](
	[UID] [bigint] IDENTITY(10000000,1) NOT NULL,
	[PASSWORD] [varchar](256) NULL,
	[EMAIL] [varchar](50) NULL,
	[MOBILENUMBER] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SKILLS] ADD  DEFAULT (newid()) FOR [SKILLID]
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[ADMINPASSWORD] ([UID])
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[ADMINPASSWORD] ([UID])
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[ADMINPASSWORD] ([UID])
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[ADMINPASSWORD] ([UID])
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[ADMINPASSWORD] ([UID])
GO
ALTER TABLE [dbo].[EMPLOYMENT]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEE] ([UID])
GO
ALTER TABLE [dbo].[EMPLOYMENT]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEE] ([UID])
GO
ALTER TABLE [dbo].[EMPLOYMENT]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEE] ([UID])
GO
ALTER TABLE [dbo].[EMPLOYMENT]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEE] ([UID])
GO
ALTER TABLE [dbo].[EMPLOYMENT]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEE] ([UID])
GO
ALTER TABLE [dbo].[SKILLS]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEE] ([UID])
GO
ALTER TABLE [dbo].[SKILLS]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEE] ([UID])
GO
ALTER TABLE [dbo].[SKILLS]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEE] ([UID])
GO
ALTER TABLE [dbo].[SKILLS]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEE] ([UID])
GO
ALTER TABLE [dbo].[SKILLS]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEE] ([UID])
GO
ALTER TABLE [dbo].[TRAINEE]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEEPASSWORD] ([UID])
GO
ALTER TABLE [dbo].[TRAINEE]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEEPASSWORD] ([UID])
GO
ALTER TABLE [dbo].[TRAINEE]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEEPASSWORD] ([UID])
GO
ALTER TABLE [dbo].[TRAINEE]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEEPASSWORD] ([UID])
GO
ALTER TABLE [dbo].[TRAINEE]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[TRAINEEPASSWORD] ([UID])
GO
/****** Object:  StoredProcedure [dbo].[USP_ADMIN_INSERT]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[USP_ADMIN_INSERT]

@UID VARCHAR(100),
@NAME VARCHAR(50)

        
AS 

BEGIN 
 
     INSERT INTO dbo.ADMIN
          ( 
UID,
NAME
      
          ) 
     VALUES 
          ( 
@UID,	 
@NAME  
      
          ) 
       

END 

GO
/****** Object:  StoredProcedure [dbo].[USP_ADMINPASSWORD_INSERT]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_ADMINPASSWORD_INSERT]

@UID VARCHAR(100),
@PASSWORD  VARCHAR(20)

        
AS 

BEGIN 
 
     INSERT INTO dbo.ADMINPASSWORD
          ( 
UID,
PASSWORD
      
          ) 
     VALUES 
          ( 
@UID,	 
@PASSWORD  
      
          ) 
       

END 

GO
/****** Object:  StoredProcedure [dbo].[USP_EMPLOYMENT_INSERT]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[USP_EMPLOYMENT_INSERT]

@UID bigint,
@STATUS VARCHAR(50)
        
AS 

BEGIN 
 
     INSERT INTO dbo.EMPLOYMENT
          ( 
UID,
STATUS
          ) 
     VALUES 
          ( 
@UID,	 
@STATUS      
          ) 
       

END 

GO
/****** Object:  StoredProcedure [dbo].[USP_EMPLOYMENT_UPDATE]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USP_EMPLOYMENT_UPDATE]
@UID bigint= NULL,
@STATUS VARCHAR(50)=NULL

        
AS 

 BEGIN

     UPDATE dbo.EMPLOYMENT SET
STATUS= ISNULL(@STATUS,STATUS)   
          
    WHERE UID = @UID
      

END 
GO
/****** Object:  StoredProcedure [dbo].[USP_FINDADMIN]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USP_FINDADMIN]
@UID VARCHAR(100)        
AS 

BEGIN 

SELECT UID,PASSWORD FROM ADMINPASSWORD 
WHERE UID=@UID


END 
GO
/****** Object:  StoredProcedure [dbo].[USP_FINDTRAINEE]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[USP_FINDTRAINEE]
@UID VARCHAR(50)        
AS 

BEGIN 

SELECT UID,PASSWORD FROM TRAINEEPASSWORD 
WHERE UID=@UID
END 
GO
/****** Object:  StoredProcedure [dbo].[USP_PROFILE_GET]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_PROFILE_GET]

@UID VARCHAR(100)


AS
BEGIN
SELECT 
UID,
NAME,
GENDER,  
RELIGION, 
CASTE,
EDUCATION,
PREVTECHEDUCATION,  
HOMESTATE, 
HOMEDISTRICT FROM TRAINEE
WHERE UID=@UID 

SELECT 
UID,
SKILLID,
SKILLSTATE,  
SKILLCENTER, 
DOMAIN,
COURSE,
BATCHSIZE,  
SKILLDURATION, 
COURSEGRADE FROM SKILLS
WHERE UID=@UID 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RECOMMENDATIONS_INSERT]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_RECOMMENDATIONS_INSERT]
(
@UID [varchar](100),
@COURSE [varchar](50),
@DOMAIN [varchar](200) ,
@PROBABILITY [varchar](50) ,
@SKILLSTATE [varchar](50) ,
	@CENTER [varchar](50) ,
	@BATCHSIZE [varchar](50) ,
	@DURATION [varchar](50),
	@REASON [varchar](200) 
	)
	AS BEGIN
	INSERT INTO ADMINRECOMMENDATION
	(
	UID,
	COURSE,
	DOMAIN,
	PROBABILITY,
	SKILLSTATE,
	CENTER,
	BATCHSIZE,
	DURATION,
	REASON
	)
	VALUES
	(@UID,
	@COURSE,
	@DOMAIN,
	@PROBABILITY,
	@SKILLSTATE,
	@CENTER,
	@BATCHSIZE,
	@DURATION,
	@REASON
	)
END 
GO
/****** Object:  StoredProcedure [dbo].[USP_SKILLS_GET]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_SKILLS_GET]

@UID bigint


AS
BEGIN
SELECT 
UID,
SKILLID,
SKILLSTATE,  
SKILLCENTER, 
DOMAIN,
COURSE,
BATCHSIZE,  
SKILLDURATION, 
COURSEGRADE FROM SKILLS
WHERE UID=@UID 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SKILLS_INSERT]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USP_SKILLS_INSERT]

@UID bigint,
@SKILLSTATE VARCHAR(200),
@SKILLCENTER VARCHAR(200),
@DOMAIN VARCHAR(200),
@COURSE VARCHAR(200),
@BATCHSIZE  VARCHAR(200),
@SKILLDURATION VARCHAR(200),
@COURSEGRADE  VARCHAR(200)

        
AS 

BEGIN 
 
     INSERT INTO dbo.SKILLS
          ( 
UID,
SKILLSTATE,  
SKILLCENTER, 
DOMAIN,
COURSE,
BATCHSIZE,  
SKILLDURATION, 
COURSEGRADE 
      
          ) 
     VALUES 
          ( 
@UID,	 
@SKILLSTATE,  
@SKILLCENTER, 
@DOMAIN,
@COURSE,
@BATCHSIZE,  
@SKILLDURATION, 
@COURSEGRADE       
          ) 
       
SELECT SKILLID,
UID,
SKILLSTATE,  
SKILLCENTER, 
DOMAIN,
COURSE,
BATCHSIZE,  
SKILLDURATION, 
COURSEGRADE FROM SKILLS
WHERE UID=@UID
END 

GO
/****** Object:  StoredProcedure [dbo].[USP_SKILLS_UPDATE]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USP_SKILLS_UPDATE]
@SKILLID VARCHAR(100)=NULL,
@UID VARCHAR(100)= NULL,
@SKILLSTATE VARCHAR(100)=NULL,
@SKILLCENTER VARCHAR(100)=NULL,
@DOMAIN VARCHAR(100)=NULL,
@COURSE VARCHAR(100)=NULL,
@BATCHSIZE  VARCHAR(100)=NULL,
@SKILLDURATION VARCHAR(100)=NULL,
@COURSEGRADE  VARCHAR(100)=NULL
        
AS 

 BEGIN

     UPDATE dbo.SKILLS SET
SKILLSTATE= @SKILLSTATE,
SKILLCENTER= @SKILLCENTER , 
DOMAIN =@DOMAIN,
COURSE=@COURSE, 
BATCHSIZE = @BATCHSIZE,
SKILLDURATION=@SKILLDURATION,
COURSEGRADE =@COURSEGRADE  
          
    WHERE UID = @UID AND SKILLID=@SKILLID
      

END 
GO
/****** Object:  StoredProcedure [dbo].[USP_TRAINEEPASSWORD_INSERT]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_TRAINEEPASSWORD_INSERT]

@PASSWORD  VARCHAR(256),
@EMAIL VARCHAR(50),
@MOBILENUMBER VARCHAR(50),
@UID BIGINT output


        
AS 

BEGIN 
 
     INSERT INTO dbo.TRAINEEPASSWORD
          ( 
PASSWORD,
EMAIL,
MOBILENUMBER
      
          ) 
     VALUES 
          ( 
   
@PASSWORD ,
@EMAIL,
@MOBILENUMBER
      
          ) 
    SET @UID=SCOPE_IDENTITY()
      RETURN  @UID;
       

END 

GO
/****** Object:  StoredProcedure [dbo].[USP_TRAINEES_INSERT]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USP_TRAINEES_INSERT]

@UID bigint,
@NAME  VARCHAR(50),
@GENDER VARCHAR(50),
@RELIGION VARCHAR(50),
@CASTE VARCHAR(20),
@EDUCATION  VARCHAR(50),
@PREVTECHEDUCATION VARCHAR(50),
@HOMESTATE  VARCHAR(20),
@HOMEDISTRICT  VARCHAR(20)

        
AS 

BEGIN 
 
     INSERT INTO dbo.TRAINEE
          ( 
UID,
NAME,  
GENDER, 
RELIGION,
CASTE,
EDUCATION,  
PREVTECHEDUCATION, 
HOMESTATE ,
HOMEDISTRICT 
      
          ) 
     VALUES 
          ( 
@UID,	 
@NAME,  
@GENDER, 
@RELIGION,
@CASTE,
@EDUCATION,  
@PREVTECHEDUCATION, 
@HOMESTATE  ,
@HOMEDISTRICT       
          ) 

SELECT UID,
NAME,  
GENDER, 
RELIGION,
CASTE,
EDUCATION,  
PREVTECHEDUCATION, 
HOMESTATE ,
HOMEDISTRICT FROM TRAINEE
WHERE UID =@UID
      
       

END 

GO
/****** Object:  StoredProcedure [dbo].[USP_TRAINEES_INSERT_UPDATE]    Script Date: 27-Sep-17 4:07:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[USP_TRAINEES_INSERT_UPDATE]

@UID BIGINT,
@NAME  VARCHAR(50),
@GENDER VARCHAR(50),
@RELIGION VARCHAR(50),
@CASTE VARCHAR(20),
@EDUCATION  VARCHAR(50),
@PREVTECHEDUCATION VARCHAR(50),
@HOMESTATE  VARCHAR(20),
@HOMEDISTRICT  VARCHAR(20)

        
AS 

BEGIN 
DECLARE @TEMPUID bigint
 SELECT @TEMPUID=UID FROM TRAINEE
 WHERE UID=@UID

IF exists (select UID from TRAINEE  where UID = @UID)
BEGIN
     UPDATE dbo.TRAINEE SET
NAME= ISNULL(@NAME,NAME),
GENDER= ISNULL(@GENDER, GENDER) , 
RELIGION =ISNULL( @RELIGION,RELIGION) ,
CASTE = ISNULL( @CASTE,CASTE) , 
EDUCATION = ISNULL( @EDUCATION, EDUCATION),

PREVTECHEDUCATION= ISNULL(@PREVTECHEDUCATION, PREVTECHEDUCATION),
HOMESTATE =ISNULL(@HOMESTATE, HOMESTATE),
HOMEDISTRICT =ISNULL( @HOMEDISTRICT,HOMEDISTRICT)     
          
    WHERE UID = @UID
END
ELSE
BEGIN

     INSERT INTO dbo.TRAINEE
          ( 
UID,
NAME,  
GENDER, 
RELIGION,
CASTE,
EDUCATION,  
PREVTECHEDUCATION, 
HOMESTATE ,
HOMEDISTRICT 
      
          ) 
     VALUES 
          ( 
@UID,	 
@NAME,  
@GENDER, 
@RELIGION,
@CASTE,
@EDUCATION,  
@PREVTECHEDUCATION, 
@HOMESTATE  ,
@HOMEDISTRICT       
          ) 
END

SELECT UID,
NAME,  
GENDER, 
RELIGION,
CASTE,
EDUCATION,  
PREVTECHEDUCATION, 
HOMESTATE ,
HOMEDISTRICT FROM TRAINEE
WHERE UID =@UID
      
       

END 

GO
